@import 'colors';

body {
  background-color: $grey;
}

.border {
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

#email {
      width: 80%;
}

.newContact input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.newContact input.ng-valid.ng-touched {
  background-color: #78FA89;
}
