<div class="text-center" id="favorites">
  <h1>Favorites</h1>
  <div ng-repeat="(key, contact) in contacts | orderBy: 'rating' : true">
    <!-- <div ng-repeat="key in contact"> -->
      <button class="btn btn-primary col-sm-4 col-sm-offset-4" type="button" data-toggle="collapse" data-target="#{{key}}" aria-expanded="false" aria-controls="collapseExample"> {{contact.first_name}} {{contact.last_name}}
      </button>
    <div class="collapse col-sm-12" id="{{key}}">
      <h4>Cell Phone: {{contact.cell_phone}}</h4> <h4>Work Phone: {{contact.work_phone}}</h4>
      <h4>Email: {{contact.email}}</h4>
      <h5>{{contact.home_address}}</h5>
      <h5>{{contact.home_city}}, {{contact.home_state}} {{contact.home_zip}}</h5>
      <h5>Favorite:</h5>
      <a class="favorite" ng-show="!contact.favorite" ng-click="updateFavorite(contact)"><i class="fa fa-star-o fa-2x"></i></a>
      <a class="favorite" ng-show="contact.favorite" ng-click="updateFavorite(contact)"><i class="fa fa-star fa-2x"></i></a>
      <p>
        <p>Rating:</p>
        <star-rating-comp rating="contact.rating" size="'medium'" num-of-stars="10" on-click="starChange($event, contact)"></star-rating-comp>
      </p>
      <!-- <button class="btn btn-default delete" ng-click="deleteContact(key)">Delete</button> -->
    </div>
  </div>
  </div>

  <div class="text-center" ng-show="!contacts">
  <h1> Bummer no contacts here </h1>
  <a ng-href="#!/contacts/new"> Add Some Friends </a>
  </div>
