<div class="text-center" id="ViewContact">
  <h1> Contacts </h1>

  <div class="input-group input-group-sm col-xs-6 col-xs-offset-3">
    <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
    <input type="text" class="form-control" placeholder="Search Contacts" ng-model="searchText">
  </div>

  <div ng-repeat="(key, contact) in contacts | filter: searchText | orderBy: ['last_name', 'first_name'] ">
    <!-- <div ng-repeat="key in contact"> -->
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{key}}" aria-expanded="false" aria-controls="collapseExample"> {{contact.first_name}} {{contact.last_name}}
      </button>
    <div class="collapse" id="{{key}}">
      <a class="favorite" ng-show="!contact.favorite" ng-click="updateFavorite(contact)"><i class="fa fa-star-o fa-2x"></i></a>
      <a class="favorite" ng-show="contact.favorite" ng-click="updateFavorite(contact)"><i class="fa fa-star fa-2x"></i></a>
      <a ng-click="editContact(contact.id)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i><a>
      <a ng-click="detailContact(contact.id)"><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i><a>
      <h4>Cell Phone: {{contact.cell_phone}}</h4> <h4>Work Phone: {{contact.work_phone}}</h4>
      <h4>Email: {{contact.email}}</h4>
      <h5>{{contact.home_address}}</h5>
      <h5>{{contact.home_city}}, {{contact.home_state}} {{contact.home_zip}}</h5>
      <button class="btn btn-default delete" ng-click="deleteContact(contact.id)">Delete</button>
    </div>
  </div>
</div>

<div class="text-center" ng-show="!contacts">
  <h1> Bummer no contacts here </h1>
  <a ng-href="#!/contacts/new"> Add Some Friends </a>
</div>
